$color1: #012A4A;
$color2: #013A63;
$color3: #01497C;
$color4: #014F86;
$color5: #2A6F97;
$color6: #2C7DA0;
$color7: #468FAF;
$color8: #61A5C2;
$color9: #89C2D9;
$color10: #A9D6E5;

$color-white: #fff;

/* font */
$font-family-default: 'Kanit', sans-serif;
$font-color-default: $color1;
$font-size-default: 14px;
$font-md-size-default: 16px;

/* break points */
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
